color-warning {
  color: black;
  background-color: yellow;
}
color-success {
  color: black;
  background-color: green;
}
color-danger {
  color: black;
  background-color: red;
}
color-info {
  color: black;
  background-color: blue;
}
